body{

font-family: 'Microsoft Yahei';
	

}
.fr{
	float: right;
}
.fl{
	float: left;
}
nav.title{
  background-color: #1f497d;
  border-bottom: 1px solid #e2e2e2;
  height: 50px;
}
.title a, .title span, .title strong{
	line-height: 50px;
	color: #fff;
	margin:0 10px 0 10px;
}
.title strong{
	font-size: 30px;
	line-height: 30px;
}
.kaochang table{
	/*border: 1px solid #1f497d;*/
}
