body{



}
.fr{
	float: right;
}
.fl{
	float: left;
}
nav.title{
  background-color: #1f497d;
  border-bottom: 1px solid #e2e2e2;
  height: 50px;
}
.title a, .title span, .title strong{
	line-height: 50px;
	color: #fff;
	margin:0 10px 0 10px;
}
.title strong{
	font-size: 30px;
	line-height: 30px;
}
.d-items{
	margin:20px;
	width: 350px;
	height: 600px;
	background-color: #e7e1d9;
	border-radius: 4%;

}
.d-items ul{
	margin: 10px;
}
.d-items ul li{
	margin: 5px;
}
.d-content {
	margin:20px;
	width: 600px;
	height: 600px;
	background-color: #e7e1d9;
	border-radius: 4%;
}
